
  <div class="listing_container">
    <div class="list_agorist">
      <%= link_to specialty.user.username %>  
    </div>
    <div class="listing">
      <div class="list_name">
        <%= specialty.name %>  
      </div>
      <p class="list_text">
        <%= specialty.line1 %><br />
        <%= specialty.line2 %>
      </p>
      <p class="list_location">
        <%= specialty.street.titleize %><br />
        <%= specialty.city %>,
        <%= specialty.region %>
        (<%= specialty.country %>)
        <%= specialty.postal_code %>
      </p>
      <div class="list_contact">
        <% if !specialty.phone.blank? %>
          <%= number_to_phone(specialty.phone, :area_code => true) %>
        <% end %> 
        <%= mail_to specialty.email, specialty.email, :encode => :hex %><br />
        <%= link_to specialty.url, specialty.url %>
      </div>
    </div>
    <% if specialty.user == current_user %>
      <div class="list_edit">
        <%= link_to "Edit", edit_specialty_path(specialty) %> |
        <%= link_to "Delete", specialty, :method => :delete, 
                                                  :confirm => "Are you sure you want to delete this specialty?" %>
      </div>
    <% end %>
  </div>
  <p></p>