
  <div class="search_listing_container">
    <div class="list_agorist">
      <%= link_to specialty.user.username, specialty.user %>  
    </div>
    <div class="search_listing">
      <div class="list_name">
        <%= specialty.name %>  
      </div>
      <p class="list_text">
        <%= specialty.line1 %><br />
        <%= specialty.line2 %>
      </p>
      <p class="list_location">
        <%= specialty.street.titleize %><br />
        <%= specialty.city %>
        <% if !specialty.region.blank? %>
          , <%= specialty.region %>
        <% end %>
        <% if !specialty.country.blank? %>
          (<%= specialty.country %>)
        <% end %>
        <%= specialty.postal_code %>
      </p>
      <div class="list_contact">
        <%= specialty.phone %>
        <%= mail_to specialty.email, specialty.email, :encode => :hex %><br />
        <%= link_to specialty.url, specialty.url %>
      </div>      
      <div id="currency_badges">
        <%= image_tag('bitcoin_icon.png') if specialty.tag_list.include?('bitcoin') %>
        <%= image_tag('gold_icon.png') if specialty.tag_list.include?('gold') %>
        <%= image_tag('silver_icon.png') if specialty.tag_list.include?('silver') %>
      </div>
    </div>
  </div>
  <p></p>