<%= form_for @news_item do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field( :user_id, :value => current_user.id) %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :size => "110x30" %>
  </p>
  <p><%= f.submit %></p>
<% end %>
